body {
  border: 20px solid #bdc3c7;
  padding: 20px;
  width: 50%;
  margin: auto;

}

h5 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  color: #3498db;
  font-weight: 700;
  font-size: 15px;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: left;
}

.stick {
  border-left: 20px solid gray;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  font-weight: 500;
}
div {
    border-bottom: 2px solid #f1f1f1;
}
